body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

input {
    width: 75%;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
}

button {
    padding: 8px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    background: white;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    background: red;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    padding: 3px 7px;
}
