body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #ffecf9;
}

h1 {
    color: rgb(141, 182, 215);
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 64px;
    text-align: center;
    text-decoration: underline;
    text-shadow: 5px 10px 10px rgb(27, 60, 87);
    margin-bottom: 100px;
}

h2 {
    color: rgb(232, 162, 193);
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    text-shadow: 5px 10px 10px rgb(197, 138, 160);
    margin-bottom: 50px;
}


p {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: #debad1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.paragraph1 {
    font-size: 18px;
    font-weight: bold;
    text-transform: lowercase;
    color: #ffffff;

}

.paragraph2 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #fffee4;
}

.paragraph3 {
    font-size: 18px;
    word-spacing: 15px;
    color: #ffe9eb;
}
